<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.energy.audit.dao.mapper.enterprise.EntEnterpriseSettingMapper">

    <resultMap id="BaseResultMap" type="com.energy.audit.model.entity.enterprise.EntEnterpriseSetting">
        <id     column="id"                        property="id"/>
        <result column="enterprise_id"             property="enterpriseId"/>
        <result column="region"                    property="region"/>
        <result column="industry_field"            property="industryField"/>
        <result column="industry_name"             property="industryName"/>
        <result column="unit_nature"               property="unitNature"/>
        <result column="registered_date"           property="registeredDate"/>
        <result column="registered_capital"        property="registeredCapital"/>
        <result column="legal_representative"      property="legalRepresentative"/>
        <result column="legal_phone"               property="legalPhone"/>
        <result column="is_central_enterprise"     property="isCentralEnterprise"/>
        <result column="group_name"                property="groupName"/>
        <result column="enterprise_address"        property="enterpriseAddress"/>
        <result column="unit_address"              property="unitAddress"/>
        <result column="postal_code"               property="postalCode"/>
        <result column="admin_division_code"       property="adminDivisionCode"/>
        <result column="enterprise_email"          property="enterpriseEmail"/>
        <result column="fax"                       property="fax"/>
        <result column="energy_mgmt_org"           property="energyMgmtOrg"/>
        <result column="energy_leader_name"        property="energyLeaderName"/>
        <result column="energy_leader_phone"       property="energyLeaderPhone"/>
        <result column="energy_manager_name"       property="energyManagerName"/>
        <result column="energy_manager_mobile"     property="energyManagerMobile"/>
        <result column="energy_manager_cert"       property="energyManagerCert"/>
        <result column="energy_dept_leader_phone"  property="energyDeptLeaderPhone"/>
        <result column="energy_cert"               property="energyCert"/>
        <result column="cert_pass_date"            property="certPassDate"/>
        <result column="cert_authority"            property="certAuthority"/>
        <result column="has_energy_center"         property="hasEnergyCenter"/>
        <result column="enterprise_contact"        property="enterpriseContact"/>
        <result column="enterprise_mobile"         property="enterpriseMobile"/>
        <result column="compiler_contact"          property="compilerContact"/>
        <result column="compiler_name"             property="compilerName"/>
        <result column="compiler_mobile"           property="compilerMobile"/>
        <result column="compiler_email"            property="compilerEmail"/>
        <result column="industry_category"         property="industryCategory"/>
        <result column="industry_code"             property="industryCode"/>
        <result column="superior_department"       property="superiorDepartment"/>
        <result column="energy_enterprise_type"    property="energyEnterpriseType"/>
        <result column="energy_usage_type"         property="energyUsageType"/>
        <result column="energy_leader_title"        property="energyLeaderTitle"/>
        <result column="energy_dept_name"           property="energyDeptName"/>
        <result column="energy_audit_contact_name"  property="energyAuditContactName"/>
        <result column="energy_audit_contact_phone" property="energyAuditContactPhone"/>
        <result column="remark"                    property="remark"/>
        <result column="create_by"                 property="createBy"/>
        <result column="create_time"               property="createTime"/>
        <result column="update_by"                 property="updateBy"/>
        <result column="update_time"               property="updateTime"/>
        <result column="deleted"                   property="deleted"/>
    </resultMap>

    <select id="selectByEnterpriseId" resultMap="BaseResultMap">
        SELECT *
        FROM ent_enterprise_setting
        WHERE enterprise_id = #{enterpriseId} AND deleted = 0
        LIMIT 1
    </select>

    <!-- MySQL INSERT ... ON DUPLICATE KEY UPDATE (unique key on enterprise_id) -->
    <insert id="upsert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ent_enterprise_setting (
            enterprise_id,
            region, industry_field, industry_name, unit_nature,
            registered_date, registered_capital,
            legal_representative, legal_phone, is_central_enterprise, group_name,
            enterprise_address, unit_address, postal_code, admin_division_code, enterprise_email, fax,
            energy_mgmt_org, energy_leader_name, energy_leader_phone,
            energy_manager_name, energy_manager_mobile, energy_manager_cert, energy_dept_leader_phone,
            energy_cert, cert_pass_date, cert_authority, has_energy_center,
            enterprise_contact, enterprise_mobile,
            compiler_contact, compiler_name, compiler_mobile, compiler_email,
            industry_category, industry_code, superior_department, energy_enterprise_type,
            energy_usage_type, energy_leader_title, energy_dept_name,
            energy_audit_contact_name, energy_audit_contact_phone,
            remark, create_by, create_time, update_by, update_time, deleted
        ) VALUES (
            #{enterpriseId},
            #{region}, #{industryField}, #{industryName}, #{unitNature},
            #{registeredDate}, #{registeredCapital},
            #{legalRepresentative}, #{legalPhone}, #{isCentralEnterprise}, #{groupName},
            #{enterpriseAddress}, #{unitAddress}, #{postalCode}, #{adminDivisionCode}, #{enterpriseEmail}, #{fax},
            #{energyMgmtOrg}, #{energyLeaderName}, #{energyLeaderPhone},
            #{energyManagerName}, #{energyManagerMobile}, #{energyManagerCert}, #{energyDeptLeaderPhone},
            #{energyCert}, #{certPassDate}, #{certAuthority}, #{hasEnergyCenter},
            #{enterpriseContact}, #{enterpriseMobile},
            #{compilerContact}, #{compilerName}, #{compilerMobile}, #{compilerEmail},
            #{industryCategory}, #{industryCode}, #{superiorDepartment}, #{energyEnterpriseType},
            #{energyUsageType}, #{energyLeaderTitle}, #{energyDeptName},
            #{energyAuditContactName}, #{energyAuditContactPhone},
            #{remark}, #{createBy}, NOW(), #{updateBy}, NOW(), 0
        )
        ON DUPLICATE KEY UPDATE
            region                   = VALUES(region),
            industry_field           = VALUES(industry_field),
            industry_name            = VALUES(industry_name),
            unit_nature              = VALUES(unit_nature),
            registered_date          = VALUES(registered_date),
            registered_capital       = VALUES(registered_capital),
            legal_representative     = VALUES(legal_representative),
            legal_phone              = VALUES(legal_phone),
            is_central_enterprise    = VALUES(is_central_enterprise),
            group_name               = VALUES(group_name),
            enterprise_address       = VALUES(enterprise_address),
            unit_address             = VALUES(unit_address),
            postal_code              = VALUES(postal_code),
            admin_division_code      = VALUES(admin_division_code),
            enterprise_email         = VALUES(enterprise_email),
            fax                      = VALUES(fax),
            energy_mgmt_org          = VALUES(energy_mgmt_org),
            energy_leader_name       = VALUES(energy_leader_name),
            energy_leader_phone      = VALUES(energy_leader_phone),
            energy_manager_name      = VALUES(energy_manager_name),
            energy_manager_mobile    = VALUES(energy_manager_mobile),
            energy_manager_cert      = VALUES(energy_manager_cert),
            energy_dept_leader_phone = VALUES(energy_dept_leader_phone),
            energy_cert              = VALUES(energy_cert),
            cert_pass_date           = VALUES(cert_pass_date),
            cert_authority           = VALUES(cert_authority),
            has_energy_center        = VALUES(has_energy_center),
            enterprise_contact       = VALUES(enterprise_contact),
            enterprise_mobile        = VALUES(enterprise_mobile),
            compiler_contact         = VALUES(compiler_contact),
            compiler_name            = VALUES(compiler_name),
            compiler_mobile          = VALUES(compiler_mobile),
            compiler_email           = VALUES(compiler_email),
            industry_category        = VALUES(industry_category),
            industry_code            = VALUES(industry_code),
            superior_department      = VALUES(superior_department),
            energy_enterprise_type   = VALUES(energy_enterprise_type),
            energy_usage_type        = VALUES(energy_usage_type),
            energy_leader_title      = VALUES(energy_leader_title),
            energy_dept_name         = VALUES(energy_dept_name),
            energy_audit_contact_name  = VALUES(energy_audit_contact_name),
            energy_audit_contact_phone = VALUES(energy_audit_contact_phone),
            remark                   = VALUES(remark),
            update_by                = VALUES(update_by),
            update_time              = NOW(),
            deleted                  = 0
    </insert>

</mapper>
