<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.energy.audit.dao.mapper.extraction.DeSubmissionTableMapper">

    <resultMap id="BaseResultMap" type="com.energy.audit.model.entity.extraction.DeSubmissionTable">
        <id     column="id"             property="id"/>
        <result column="submission_id"  property="submissionId"/>
        <result column="enterprise_id"  property="enterpriseId"/>
        <result column="audit_year"     property="auditYear"/>
        <result column="tag_name"       property="tagName"/>
        <result column="row_index"      property="rowIndex"/>
        <result column="row_key"        property="rowKey"/>
        <result column="column_values"  property="columnValues"/>
        <result column="create_by"      property="createBy"/>
        <result column="create_time"    property="createTime"/>
        <result column="update_by"      property="updateBy"/>
        <result column="update_time"    property="updateTime"/>
        <result column="deleted"        property="deleted"/>
    </resultMap>

    <select id="selectBySubmissionId" resultMap="BaseResultMap">
        SELECT * FROM de_submission_table
        WHERE submission_id = #{submissionId} AND deleted = 0
        ORDER BY tag_name, row_index
    </select>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO de_submission_table (
            submission_id, enterprise_id, audit_year, tag_name,
            row_index, row_key, column_values,
            create_by, create_time, update_by, update_time, deleted
        ) VALUES
        <foreach collection="list" item="r" separator=",">
        (
            #{r.submissionId}, #{r.enterpriseId}, #{r.auditYear}, #{r.tagName},
            #{r.rowIndex}, #{r.rowKey}, #{r.columnValues},
            #{r.createBy}, NOW(), #{r.updateBy}, NOW(), 0
        )
        </foreach>
    </insert>

    <update id="deleteBySubmissionId">
        UPDATE de_submission_table
        SET deleted = 1, update_by = #{updateBy}, update_time = NOW()
        WHERE submission_id = #{submissionId} AND deleted = 0
    </update>

</mapper>
